<link rel="stylesheet" href="/css/cadastro.css">
<section class="login">
        <div class="login-div">
            <div>
            <img src="img/logo.png" alt="">
            </div>
    
            <form method="post">
                <input type="text" name="name" placeholder="Nome" autofocus>
                <input type="text" name="Sobrenome" placeholder="Sobrenome" autofocus>
                <input type="number" name="phone" placeholder="Numero" autofocus>
                <input type="text" name="user" placeholder="Nome de usuàrio" autofocus>
                <input type="email" name="email" placeholder="E-mail" autofocus>
                <input type="password" name="senha" placeholder="Sua senha">
                <input type="submit" value="cadastrar">
            </form>
            <p>já possui um cadastro?<a href="/login">Faça login</a></p>
        </div>
</section>