<link rel="stylesheet" href="/css/login.css">
<section class="login">
    <div class="login-div">
        <div>
        <img src="img/logo.png" alt="">
        </div>

        <form method="post">
            <input type="text" name="user" placeholder="Nome de usuàrio" autofocus>
            <input type="password" name="senha" placeholder="Sua senha">
            <input type="submit" value="entrar">
        </form>
        <p>Ainda não possui um cadastro?<a href="/src/views/layouts/login-cad/">Criar conta</a></p>
    </div>
</section>